@charset "UTF-8";
/* CSS Document */
*{
	font-family: "微软雅黑", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}
body{
	margin: 0;
}
li{
	list-style: none;
	margin: 0;
}
a{
	text-decoration: none;
}
input{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
h1{
	margin: 0;
	padding: 0;
}
.top{
	background: #545652;
	position: relative;
}
.topbox{
	width: 1170px;
	margin: 0 auto;
	line-height: 52px;
    position: relative;
}
.lastdiv{
	clear: both;
}
.logo{
	float: left;
	margin: 9px 20px 0 0;
}
.logo img{
	height: 30px;
}
.nav{
	font: 14px "微软雅黑";
	line-height: inherit;
}
.nav li{
	float: left;
	padding: 0 20px;
}
.top .nav a{
	color: #f5f5f5;
}
.top .nav a:hover{
	color: #fff;
	font-weight: bold;
}
.search{
	float: left;
}
.search_box{
	margin-left: 20px;
	padding-left: 10px;
	border-radius: 3px;
	width: 320px;
	height: 34px;
	color: #777;
	font-size: 14px;
	background: #f5f5f5;
}
.search_btn{
	width: 58px;
	height: 34px;
	border-radius: 3px;
	color: #f5f5f5;
	font-size: 14px;
	background: #ffaa00;
	margin-left: 10px;
    font:normal 14px "微软雅黑";
}
.search_btn:hover{
	background: #ffa200;
}
.photo{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: right;
	margin-top: 11px;
	background: #fff;
    overflow:hidden
}
.photo img{
	width: 100%;
}
.down{
	float: right;
}
.down .fa{
	color: #f5f5f5;
	font-size: 14px;
	margin-left: 10px;
	cursor: pointer;
}
.sign_up{
	float: right;
    display:none;
}
.sign_up a{
	color: #f5f5f5;
	font-size: 14px;
	padding: 0 4px;
}
.sign_up a:hover{
	color:#fff;
	font-weight: bold;
}
.content{
	width: 1170px;
	margin: 20px auto;
    position:relative;
    overflow:hidden;
}
.nav_left{
	width: 120px;
	background: #fff;
	margin-right: 30px;
	float: left;
    position:absolute;
    left:0px;
    top:0px;
}
.nav_left a{
	color: #444;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
	display: block;
	margin-bottom: 3px;
}
.nav_left a:hover{
	background: #ffaa00;
	color: #fff;
}
.nav_left .on{
	background: #ffaa00;
	color: #fff;
}
.center_box{
	width: 690px;
	float: left;
	margin:0 30px 0 150px;
	position: relative;
    min-height:1px;
}
.loading{
	font-size: 12px;
	width: 100px;
	text-align: center;
	line-height: 28px;
	color: #ccc;
	background: #f5f5f5;
    margin:0 auto;
	border-radius: 3px;
}
.news_box{
	overflow: hidden;
	padding-bottom: 14px;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 14px;
}
.news_photo{
	float: left;
	margin-right: 14px;
	width: 156px;
	height: 100px;
	overflow: hidden;
    cursor:pointer
}
.news_photo img{
	width: 100%;
}
.news_content {
    cursor:pointer;
}
.news_content p{
    height:48px;
    font:normal 14px/24px "微软雅黑";
    margin:0 0 5px 0;
    color:#999;
}
.news_content p a {color:#999;}
.news_content .title{
    color: #444;
	height: 27px;
	overflow: hidden;
    font-size:18px;
    line-height:27px;
}
.news_content .title a{
	
	
}
.news_content .title:hover,.news_content p:hover{
	color: #406599;
}
.tab_bar{
	overflow: hidden;
}
.tab{
	font-size: 12px;
	color: #fff;
	background: #25a162;
	padding: 2px 4px;
	float: left;
	margin-right: 10px;
}
.tab_photo{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #000;
	display: block;
	float: left;
	margin-right: 6px;
	margin-top: 2px;
}
.tab_photo img{
	width: 100%;
    border-radius:50%;
    overflow:hidden
}
.name{
	font-size: 14px;
	color: #999;
	float: left;
	margin-right: 14px;
	margin-top: 2px;
}
.name:hover{
	color: #406599;
}
.time{
	font-size: 14px;
	color: #999;
	margin-top: 2px;
	float: left;
}
.icon{
	float: right;
}
.icon span.fr,.bankuailist_icon span.fr {font:normal 12px "微软雅黑"; border:1px solid #ddd; color:#999; padding:0px 4px 1px; float:right}
.icon a{
	font-size: 14px;
	color: #999;
}
.icon .fa{
	color: #ccc;
	font-size: 16px;
}
.icon .fa:hover{
	color: #b3b3b3;
}
.read,.like{
	margin-right: 10px;
}
.right_content{
	width: 300px;
	height: 1000px;
	float: left;
	background: #f5f5f5;
	position: relative;
}
.back_top{
	position: fixed;
	bottom: 40px;
	right: 20px;
}
.refresh{
	position: fixed;
	bottom: 90px;
	right: 20px;
}
.back_top .fa{
	background: #e7eaf1;
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
	color: #9aaabf;
	cursor: pointer;
	width: 40px;
}
.back_top .fa:hover{
	background: #D5DBE7;
}
.refresh .fa{
	background: #e7eaf1;
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
	color: #9aaabf;
	cursor: pointer;
	width: 40px;
}
.refresh .fa:hover{
	background: #D5DBE7;
}
.dropdown{
	position: relative;
}
.dropdown_list{
	position: absolute;
	z-index: 100;
	right: -17px;
	top: 60px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
    display:none;
}
.dropdown_list:before{
	content: "";
	position: absolute;
    border-style: solid;
	border-color:transparent transparent #fff transparent;
    border-width: 8px;
	top: -15px;
	right:40px;
	margin-left: -8px;
}
.dropdown_list:after{
	content: "";
	position: absolute;
    border-style: solid;
	border-color:transparent transparent #e5e5e5 transparent;
    border-width: 8px;
	top: -16px;
	right:40px;
	margin-left: -8px;
	z-index: -100;
}
.dropdown_list a{
	line-height:30px;
	font-size: 14px;
	color: #999;
	display: block;
	padding: 0 12px;
}.dropdown_list a:hover{
	color: #406599;
}


 /*20170612头部修改css*/
 .more{
	color: #444;
	font-size: 34px;
	text-align: center;
	line-height: 36px;
	border-radius: 3px;
	display: block;
	margin-bottom: 3px;
	cursor: default;
    border:1px solid #ddd;
    cursor:pointer;
    height:40px;
    color:#999;
}
.more:hover{
	background: #ffaa00;
	color: #fff;
    border:1px solid #ffaa00;
}
.more_column{
	background: #fff;
	width: 600px;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -300px;
	z-index: 100;
	padding: 20px 20px 100px 20px;
}
.mask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 99;
    display:none;
}
.more_column span{
	width: 120px;
	display: block;
	float: left;
	color: #444;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
	margin: 4px 15px;
	cursor: default;
    cursor:pointer;
}
.more_column span:hover {background: #ffaa00;color: #fff;}
.more_column .column_on{
	background: #ffaa00;
	color: #fff;
}
.more_column_btn{
	position: absolute;
	left: 50%;
	bottom: 20px;
	margin-left: -38px;
}
.more_column_btn *{
	float: left;
	padding:4px 30px;
	color: #fff;
	font: 14px/28px "微软雅黑";
	border-radius: 3px;
}
.ok{
	background: #ffaa00;
	margin-right: 20px;
    cursor:pointer;
}
.ok:hover{
	background: #ff9900;
}
.close{
	background: #777;
}
.close:hover{
	background: #666;
}
.posting{
	float: right;
	font: 14px/52px "微软雅黑";
	color: #f5f5f5;
	margin-right: 20px;
}
.top .posting a {color:#fff;}
.posting:hover{
	color: #fff;
	font-weight: bold;
	cursor: default;
}
.guanzhubox{
	float: right;
	font: 14px/52px "微软雅黑";
	color: #f5f5f5;
	margin-right: 20px;
}
.guanzhubox a {color:#fff;}
.guanzhubox:hover{
	color: #fff;
	font-weight: bold;
	cursor: default;
}
.timeline{
	text-align: center;
	font: 12px/28px "微软雅黑";
	color: #ccc;
	background: #f5f5f5;
	margin-bottom: 14px;
}
.tab{
	font-size: 12px;
	color: #ffaa00;
	background: #fff;
	padding: 2px 4px;
	float: left;
	margin-right: 10px;
	
    font: normal normal normal 14px/20px FontAwesome;
}
.tab:before {
    content: "\f02b";
    margin:0 4px 0 0;
}
.box-txt{
	text-align: center;
	font: 12px/20px "微软雅黑i";
}
.box-txt *{
	color: #e5e5e5;
}
#footer{
	background: #555555;
	padding: 20px 0;
    margin:20px 0 0 0;
}
.user_photo {border-radius:50%; overflow:hidden}
/*提示框*/
.weui_mask_transparent {position: fixed;z-index: 1000;width: 100%;height: 100%;top: 0;left: 0;}
.weui_toast {position: fixed;z-index: 1001;width: 7.6em;min-height: 7.6em;top: 35%;left: 50%;margin-left: -3.8em;background: rgba(40, 40, 40, 0.65);text-align: center;border-radius: 5px;color: #FFFFFF;}
.weui_icon_toast {margin: 22px 0 0;display: block;}
.weui_icon_toast:before {content: '\EA08';color: #FFFFFF;font-size: 55px;}
.weui_toast_content {margin: 0 0 15px;}
.weui_loading_toast .weui_toast_content {margin-top: 64%;font-size: 14px;}

.tab_bar .edit{
	font-size: 14px;
	float: right;
	color: #999;
	cursor: pointer;
	margin-right: 4px;
    display:none;
}
.tab_bar .edit:hover{
	color: #ffaa00;
}
.reply_bar .reply_edit{
	float: left;
	font-size: 14px;
	line-height: 26px;
	color: #406599;
	margin-left: 30px;
	cursor: pointer;
}
.news_content_view {height:75px; overflow:hidden}
.posting.watchold, .posting.watchnew {display:none;}
.appDownload {position:relative; z-index:2;}
.appDownloadDetail {position:absolute; left:0px; top:52px; display:none}


/*success*/
.successDetail {width:410px; margin:90px auto; overflow:hidden}
.successDetail a.backshop {font:normal 14px/40px "微软雅黑"; color:#fff; width:120px; height:40px; text-align:center; background:#ffaa00; display:block; margin:20px 0 0 0; float:left; border-radius:5px;}
.successDetail a.watchList {font:normal 14px/40px "微软雅黑"; color:#fff; width:120px; height:40px; text-align:center; background:#ec5810; margin:20px 0 0 20px; display:block; float:left; border-radius:5px;}