
.balckbg545652 {background: #545652;}

body {background: #fafafa}
.wrap .header {width:100%; height:40px;}
.wrap .header .headerbody {width:1000px; margin:0 auto;}
.wrap .header .headerbody .user {width:30px; height:30px; border-radius:50%; margin:5px 0; overflow: hidden;}
.wrap .layout {width:1000px; margin:0 auto;}
.wrap .layout .bread {font:normal 14px/36px "微软雅黑"; color:#888;}
.wrap .layout .bread a {color: #888;}
.wrap .layout .layoutLeft {background: #fff; border:1px solid #e6e6e6; box-shadow: 0 0 10px #e6e6e6; height:900px; width:250px; float: left; box-sizing:border-box; border-radius:8px 8px 0 0; }
.wrap .layout .layoutLeft .user {background: #ffaa00; height:60px; padding:20px 0 20px 20px;}
.wrap .layout .layoutLeft .user .pic {width: 60px; height: 60px; border-radius:50%; float: left; margin: 0 20px 0 0; box-shadow: 0 0 10px #888; overflow: hidden;}
.wrap .layout .layoutLeft .user h2 {font:normal 18px/58px "微软雅黑"; color: #fff;}
.usercenter .NumberModule01 {margin:10px 20px; float: left;}
.usercenter .NumberModule01 li {font:normal 12px/18px "微软雅黑"; color: #333; border-right:1px solid #e5e5e5; padding:0 10px 0 0; margin:6px 10px 6px 0; float: left;}
.usercenter .NumberModule01 li.noLeft {border:none;}
.usercenter .NumberModule01 li a.on {color: #ffaa00; font-weight: bold;}
.usercenter .NumberModule01 li a {color: #333; font-weight: bold;}
.usercenter .NumberModule01 li a i {font-weight: normal;}
.usercenter .NumberModule01 li a:hover {color: #ffaa00;}
.usercenter .NumberModule01 li a.on i {color: #333;}

.usercenter .NumberModule02 { float: left; width: 210px; margin:0 20px;}
.usercenter .NumberModule02 li a {margin:10px 0; display: block; font:normal 14px/36px "微软雅黑"; color: #999; overflow: hidden; height:36px;}
.usercenter .NumberModule02 li i {float: left; margin:9px 10px 0 0;}
.usercenter .NumberModule02 li i img {vertical-align: top}
.usercenter .NumberModule02 li label {background: #ea0101;color: #fff;padding:0 6px;height: 20px;border-radius: 10px;text-align: center;font: normal 14px/20px "微软雅黑";float:right; margin:8px 20px 0 0;}
.usercenter .NumberModule02 li.btmLine {width: 100%;height: 0px;border-bottom: 1px solid #e5e5e5;}
.usercenter .NumberModule02 li.on a {color: #ffaa00}

/*.wrap .layout .layoutRight {background: #fff; border:1px solid #e6e6e6; box-shadow: 0 0 10px #e6e6e6; height:900px; width:720px; float: right; box-sizing:border-box; border-radius:8px 8px 0 0; overflow: hidden;}*/
.wrap .layout .layoutRight {background: #fff; border:1px solid #e6e6e6; box-shadow: 0 0 10px #e6e6e6; height:auto; width:720px; float: right; box-sizing:border-box; border-radius:8px 8px 0 0; overflow: hidden;}
/*关注、粉丝样式*/
.wrap .layout .layoutRight .NumberGuanzhu li {margin:0 20px; border-bottom:1px solid #e5e5e5; height: 60px; padding:25px 0;}
.wrap .layout .layoutRight .NumberGuanzhu li i {width:60px; height:60px; border-radius: 50%; overflow: hidden; float: left; margin: 0 15px 0 0;}
.wrap .layout .layoutRight .NumberGuanzhu li h2 {font:normal 16px/34px "微软雅黑";}
.wrap .layout .layoutRight .NumberGuanzhu li span label {color: #999; margin:0 20px 0 0;}
.wrap .layout .layoutRight .NumberGuanzhu li span.txtGz {border: 1px solid #e5e5e5; font:normal 14px/32px "微软雅黑"; height: 32px; padding:0 10px; color: #999; border-radius: 6px; margin:-20px 0 0 0;}
.wrap .layout .layoutRight .NumberGuanzhu li a.btnGz {border: 1px solid #e5e5e5; font:normal 14px/32px "微软雅黑"; height: 32px; padding:0 10px; color: #fff; background: #999; border-radius: 6px; margin: -20px 0 0 10px;}
.wrap .layout .layoutRight .NumberGuanzhu li a.btnGz:hover {background: #ffaa00; border-color: #ffaa00;}


/*经验积分样式*/
.wrap .layout .layoutRight #NumberExpScore li {margin:0 20px; border-bottom:1px solid #e5e5e5; height: 50px; padding:10px 0;}
.wrap .layout .layoutRight #NumberExpScore li h2 {font:normal 14px/30px "微软雅黑"; color:#666;}
.wrap .layout .layoutRight #NumberExpScore li a.btnGz {border: 1px solid #ffaa00; font:normal 12px/30px "微软雅黑"; height: 32px; padding:0 10px; color: #fff; background: #ffaa00; border-radius: 6px; margin: -20px 0 0 10px; width:60px; text-align:center}

/*私信样式*/
.wrap .layout .layoutRight .NumberSixin li {margin:0 20px; cursor: pointer; position: relative; border-bottom:1px solid #e5e5e5; height: 60px; padding:25px 0;}
.wrap .layout .layoutRight .NumberSixin li i {width:60px; height:60px; border-radius: 50%; overflow: hidden; float: left; margin: 0 15px 0 0;}
.wrap .layout .layoutRight .NumberSixin li label.posi {position: absolute; left: 45px; top:30px; background: #ea0101; color: #fff; width:20px; height: 20px; border-radius: 50%; text-align: center; font:normal 14px/20px "微软雅黑";}
.wrap .layout .layoutRight .NumberSixin li h2 {font:normal 16px/34px "微软雅黑";}
.wrap .layout .layoutRight .NumberSixin li h2 span {font:normal 14px/34px "微软雅黑"; color: #999; margin:0 0 0 10px;}
.wrap .layout .layoutRight .NumberSixin li span label {color: #999; margin:0 20px 0 0;}
.wrap .layout .layoutRight .NumberSixin li span.txtGz {border: 1px solid #e5e5e5; font:normal 14px/32px "微软雅黑"; height: 32px; padding:0 10px; color: #999; border-radius: 6px; margin:-20px 0 0 0;}
.wrap .layout .layoutRight .NumberSixin li a.btnGz {border: 1px solid #e5e5e5; font:normal 14px/32px "微软雅黑"; height: 32px; padding:0 10px; color: #fff; background: #999; border-radius: 6px; margin: -20px 0 0 10px;}
.wrap .layout .layoutRight .NumberSixin li a.btnGz:hover {background: #ffaa00; border-color: #ffaa00;}
.wrap .layout .layoutRightSixinChat {position: relative; height:740px;}
.wrap .layout .layoutRightSixin {position: relative; height:auto;}
 
.wrap .layout .layoutRightSixin .sixinDetail {position: absolute; top:0px; left: 0px; width: 100%; height:500px; background: #fff;}
.sixinDetail .hd {background: #fafafa; height: 48px; border-bottom:1px solid #e6e6e6; position: relative;}
.sixinDetail .hd a.back {width:9px; height:14px; padding:17px 19px; display: block; position: absolute; left: 0px; top:0px;}
.sixinDetail .hd a.back img {vertical-align: top;}
.sixinDetail .hd h2 {text-align: center; width: 100%; color:#999; font:normal 16px/48px "微软雅黑";}
.sixinDetail .hd h2 b {margin:0 15px; color: #666;}
.sixinDetail .hd a.blacklist {position: absolute; right: 10px; top: 10px; background: #999; color: #fff; font:normal 14px/28px "微软雅黑"; padding:0 10px; border-radius:5px;}
.sixinDetail .bd {height:560px; overflow-y: scroll; overflow-x: hidden; width: 738px; margin-right: -20px;}
.sixinDetail .bd a.moreDetails {width:80px; text-align: center; margin: 20px auto 25px; display: block; color:#ffaa00;}
.sixinDetail .bd .time {width: 100%; text-align: center; color: #999; display: block;}
.sixinDetail .bd .leftTalk {float: left; margin:10px 0 10px 20px; width: 100%;}
.sixinDetail .bd .leftTalk a.pic {width:60px; height:60px; overflow: hidden; border-radius: 50%; float: left; margin:0 15px 0 0;}
.sixinDetail .bd .leftTalk .talktxt {background: #fafafa; border: 1px solid #e6e6e6; float: left; border-radius: 5px; position: relative; min-height: 44px; padding:8px 10px; color: #333; font:normal 14px/22px "微软雅黑"; max-width:500px;}
.sixinDetail .bd .leftTalk .talktxt .jt {position: absolute; left: -10px; top:20px;}
.sixinDetail .bd .rightTalk {float: right; margin:10px 20px 10px 0; width: 100%;}
.sixinDetail .bd .rightTalk a.pic {width:60px; height:60px; overflow: hidden; border-radius: 50%; float: right; margin:0 0 0 15px;}
.sixinDetail .bd .rightTalk .talktxt {background: #fdf5e8; border: 1px solid #e6e6e6; float: right; border-radius: 5px; position: relative; min-height: 44px; padding:8px 10px; color: #333; font:normal 14px/22px "微软雅黑"; max-width:500px;}
.sixinDetail .bd .rightTalk .talktxt .jt {position: absolute; right: -10px; top:20px;}
.sixinReply {border-top:1px solid #e6e6e6; background: #fafafa; padding:0 0 15px 0;}
.sixinReply .txt {width:680px; margin:20px auto; border:1px solid #e6e6e6; display: block; font:normal 14px/40px "微软雅黑"; text-indent: 10px;}
.sixinReply .fabulist {width: 682px; margin:0 auto;}
.sixinReply .fabulist .emote {margin: 0 15px 0 0;}
.sixinReply .fabulist .btnReply {float: right; background: #ffaa00; color: #fff; font:normal 16px/38px "微软雅黑"; padding: 0 25px; border: none; border-radius: 8px; outline: none; cursor: pointer;}
/*栏目样式*/
.wrap .layout .layoutRight .NumberLanmu li {margin:0 20px; border-bottom:1px solid #e5e5e5; height: 60px; padding:25px 0;}
.wrap .layout .layoutRight .NumberLanmu li i {width:178px; height:58px; border-radius: 5px; border:1px solid #e5e5e5; overflow: hidden; float: left; margin: 0 15px 0 0;}
.wrap .layout .layoutRight .NumberLanmu li h2 {font:normal 16px/34px "微软雅黑";}
.wrap .layout .layoutRight .NumberLanmu li span label {color: #999; margin:0 20px 0 0;}
.wrap .layout .layoutRight .NumberLanmu li span.txtGz {border: 1px solid #e5e5e5; font:normal 14px/32px "微软雅黑"; height: 32px; padding:0 10px; color: #999; border-radius: 6px; margin:-20px 0 0 0;}
.wrap .layout .layoutRight .NumberLanmu li a.btnGz {border: 1px solid #e5e5e5; font:normal 14px/32px "微软雅黑"; height: 32px; padding:0 10px; color: #fff; background: #999; border-radius: 6px; margin: -20px 0 0 10px;}
.wrap .layout .layoutRight .NumberLanmu li a.btnGz:hover {background: #ffaa00; border-color: #ffaa00;}

/*@我样式*/
.wrap .layout .layoutRight .NumberAtwo li {margin:0 20px; border-bottom:1px solid #e5e5e5; padding:25px 0; overflow: hidden;}
.wrap .layout .layoutRight .NumberAtwo li i {width:60px; height:60px; border-radius: 50%; overflow: hidden; float: left; margin: 0 15px 0 0;}
.wrap .layout .layoutRight .NumberAtwo li h2 {font:normal 16px/34px "微软雅黑";}
.wrap .layout .layoutRight .NumberAtwo li span label {color: #999; margin:0 20px 20px 0; line-height: 14px; float: left;}
.wrap .layout .layoutRight .NumberAtwo li a.btnCollect {border: 1px solid #e5e5e5; font:normal 14px/32px "微软雅黑"; height: 32px; padding:0 10px; color: #fff; background: #999; border-radius: 6px; margin: 10px 0 0 10px;}
.wrap .layout .layoutRight .NumberAtwo li a.btnCollect:hover {background: #ffaa00; border-color: #ffaa00;}
.wrap .layout .layoutRight .NumberAtwo li p {background: #f2f2f2; font:normal 14px/24px "微软雅黑"; width:650px; float: left; padding:4px 10px; margin:10px 0 0 0; color:#999;}
.wrap .layout .layoutRight .NumberAtwo li .txtAtwo {float:left; font:normal 14px/24px "微软雅黑";}
.wrap .layout .layoutRight .NumberAtwo li .txtAtwo b {color: #ffaa00;}

/*我的动态样式*/
.wrap .layout .layoutRight .NumberMycenter li {margin:0 20px; border-bottom:1px solid #e5e5e5; padding:25px 0; overflow: hidden;}
.wrap .layout .layoutRight .NumberMycenter li i {width:60px; height:60px; border-radius: 50%; overflow: hidden; float: left; margin: 0 15px 0 0;}
.wrap .layout .layoutRight .NumberMycenter li h2 {font:normal 16px/34px "微软雅黑";}
.wrap .layout .layoutRight .NumberMycenter li span label {color: #999; margin:0 20px 0px 0; line-height: 14px; float: left;}
.wrap .layout .layoutRight .NumberMycenter li a.btnCollect {border: 1px solid #e5e5e5; font:normal 14px/32px "微软雅黑"; height: 32px; padding:0 10px; color: #fff; background: #999; border-radius: 6px; margin: 10px 0 0 10px;}
.wrap .layout .layoutRight .NumberMycenter li a.btnCollect:hover {background: #ffaa00; border-color: #ffaa00;}
.wrap .layout .layoutRight .NumberMycenter li p {background: #f2f2f2; font:normal 14px/24px "微软雅黑"; width:650px; float: left; padding:4px 10px; margin:10px 0 10px 0; color:#999;}
.wrap .layout .layoutRight .NumberMycenter li .txtMycenter {float:left; font:normal 14px/24px "微软雅黑";}
.wrap .layout .layoutRight .NumberMycenter li .txtMycenter b {color: #ffaa00;}
.wrap .layout .layoutRight .NumberMycenter li p b {width: 100%; display: block; font:normal 16px/24px "微软雅黑"; color: #333;}

/*朋友的动态样式*/
.wrap .layout .layoutRight .NumberFriendcenter li {margin:0 20px; border-bottom:1px solid #e5e5e5; padding:25px 0; overflow: hidden;}
.wrap .layout .layoutRight .NumberFriendcenter li i {width:60px; height:60px; border-radius: 50%; overflow: hidden; float: left; margin: 0 15px 0 0;}
.wrap .layout .layoutRight .NumberFriendcenter li h2 {font:normal 16px/34px "微软雅黑";}
.wrap .layout .layoutRight .NumberFriendcenter li span label {color: #999; margin:0 20px 20px 0; line-height: 14px; float: left;}
.wrap .layout .layoutRight .NumberFriendcenter li a.btnCollect {border: 1px solid #e5e5e5; font:normal 14px/32px "微软雅黑"; height: 32px; padding:0 10px; color: #fff; background: #999; border-radius: 6px; margin: 10px 0 0 10px;}
.wrap .layout .layoutRight .NumberFriendcenter li a.btnCollect:hover {background: #ffaa00; border-color: #ffaa00;}
.wrap .layout .layoutRight .NumberFriendcenter li p {background: #f2f2f2; font:normal 14px/24px "微软雅黑"; width:650px; float: left; padding:4px 10px; margin:10px 0 10px 0; color:#999;}
.wrap .layout .layoutRight .NumberFriendcenter li .txtFriendcenter {float:left; font:normal 14px/24px "微软雅黑";}
.wrap .layout .layoutRight .NumberFriendcenter li .txtFriendcenter b {color: #ffaa00;}
.wrap .layout .layoutRight .NumberFriendcenter li p b {width: 100%; display: block; font:normal 16px/24px "微软雅黑"; color: #333;}

.itemChoose {border-bottom:1px solid #e6e6e6; background: #fafafa; height:40px; width: 100%;}
.itemChoose span.fl a {border:1px solid #e6e6e6; color: #999; border-radius: 4px; float: left; padding:2px 12px; margin:7px 0 0 6px; background: #fff;}
.itemChoose span.fl a:hover,.itemChoose span.fl a.on {background: #ffaa00; border-color:#ffaa00; color: #fff;}
.itemChoose span.fr input {border:1px solid #e6e6e6; border-right: 0px; background: #fff; height:24px; font:normal 12px/24px "微软雅黑"; margin:7px 0px 0 0; padding:0 0 0 6px; float: left; outline: none;}
.itemChoose span.fr input.searchbtn {border:1px solid #e6e6e6; border-left:0px; background: #fff url(../images/searchbtn.jpg) center center no-repeat; height:26px; width: 26px; padding: 0px; margin-right: 10px; outline: none; cursor: pointer;}
/*道具样式*/
.wrap .layout .layoutRight .NumberDaoju li {margin:20px 20px; border:1px solid #e5e5e5; padding:0px 0; background: #fafafa; width: 300px; height:100px; float:left;}
.wrap .layout .layoutRight .NumberDaoju li i {width:100px; height:100px; border-radius: 0px; border:0px solid #e5e5e5; overflow: hidden; float: left; margin: 0 15px 0 0;}
.wrap .layout .layoutRight .NumberDaoju li h2 b {color: #ffaa00;}
.wrap .layout .layoutRight .NumberDaoju li h2 {font:normal 16px/34px "微软雅黑"; margin:10px 0 10px 0;}
.wrap .layout .layoutRight .NumberDaoju li span label {color: #999; margin:0 20px 0 0;}
.wrap .layout .layoutRight .NumberDaoju li span.txtGz {border: 1px solid #e5e5e5; font:normal 14px/32px "微软雅黑"; height: 32px; padding:0 10px; color: #999; border-radius: 6px; margin:-20px 0 0 0;}
.wrap .layout .layoutRight .NumberDaoju li a.btnGz {border: 1px solid #e5e5e5; font:normal 14px/32px "微软雅黑"; height: 32px; padding:0 10px; color: #fff; background: #999; border-radius: 6px; margin: -20px 0 0 10px;}
.wrap .layout .layoutRight .NumberDaoju li a.btnGz:hover {background: #ffaa00; border-color: #ffaa00;}


/*收藏样式*/
.wrap .layout .layoutRight .NumberShoucang li {margin:0 20px; border-bottom:1px solid #e5e5e5; padding:25px 0; overflow: hidden;}
.wrap .layout .layoutRight .NumberShoucang li i {width:60px; height:60px; border-radius: 50%; overflow: hidden; float: left; margin: 0 15px 0 0;}
.wrap .layout .layoutRight .NumberShoucang li h2 {font:normal 16px/34px "微软雅黑";}
.wrap .layout .layoutRight .NumberShoucang li span label {color: #999; margin:0 20px 0 0; line-height: 34px;}
.wrap .layout .layoutRight .NumberShoucang li a.btnCollect {border: 1px solid #e5e5e5; font:normal 14px/32px "微软雅黑"; height: 32px; padding:0 10px; color: #fff; background: #999; border-radius: 6px; margin: 10px 0 0 10px;}
.wrap .layout .layoutRight .NumberShoucang li a.btnCollect:hover {background: #ffaa00; border-color: #ffaa00;}
.wrap .layout .layoutRight .NumberShoucang li p {background: #f2f2f2; font:normal 14px/24px "微软雅黑"; max-width:540px; min-width:480px; float: left; padding:4px 10px; margin:10px 0 0 0;}


/*page*/
.page {width:276px; overflow: hidden; margin:30px auto 0; }
.page a,.page span{width: 34px; height:34px; border:1px solid #e6e6e6; border-radius:4px; text-align: center; font:normal 14px/33px "微软雅黑"; color: #999; float: left; margin:0 10px 0 0;}
.page span, .page a:hover {border-color: #ffaa00; color: #ffaa00;}


/*个人设置*/
.Personal .hd {background: #fafafa; border-bottom:1px solid #e6e6e6; }
.Personal .hd li {color: #333; font:normal 14px/14px "微软雅黑"; float: left; padding: 15px 0px; cursor: pointer;}
.Personal .hd li i {border-right: 1px solid #ccc; width: 100%; padding:0 18px;}
.Personal .hd li.on {border-bottom:3px solid #ffaa00; color: #ffaa00; }
.Personal .hd li.last i {border:none;}
.Personal .bd {margin:20px 35px;}
.Personal .bd .userImg h4 {width: 100%; font:normal 16px/34px "微软雅黑"; color: #333; display: block; float: left;}
.Personal .bd .userImg .nowImg {width:200px; height: 200px; overflow: hidden;}
.Personal .bd .userImg .uploadImg {width:390px; background: #e6e6e6; height: 220px; float: right;}
.Personal .bd .userImg .uploadImg input {background: #ffaa00; width:100px; height:38px; margin:90px auto; display: block; outline: none; cursor: pointer; border:none; border-radius:5px; color: #fff; font:normal 14px/38px "微软雅黑";}
.Personal .bd .save {background: #ffaa00; color: #fff; border:none; padding:0 35px; border-radius: 5px;margin:20px 0 0 0; font:normal 14px/38px "微软雅黑"; float: left;}
/*=S 头像*/
.face-mod {padding-left:0px; overflow-x: hidden; float: left;}
	.face-mod .face-r-h {padding-top:15px;}
	.face-tab .face-preview {position:absolute;right:0;top:0;text-align:center;line-height:20px;}
		.face-tab .face-preview span {display:block;padding:4px 5px 6px;width:120px;height:120px;background:url(images/bg_others.png) no-repeat 0 -1294px;}
	.face-tab .dynamic-tab {position:relative;padding:15px 150px 0 15px;}
		.face-tab .dynamic-tab dd {line-height:24px;}
		.face-tab .dynamic-tab dd li {padding:0 0 0 20px;background:url(images/icon.png) no-repeat -36px -1901px;}
.face-l strong {float:left;padding:0 0 10px 40px;color:#666666;}
.face-mod .face-r {min-height:200px;_height:200px;}
.face-tab .tab-bd {padding-left:15px;}
.avatar_list {clear:both; display: block; margin:-1px auto 0px auto;padding:10px 0px 0px 0px;background:#fff; height:82px;}
.avatar_list li {cursor: pointer;float: left;border: 1px solid #E8E8E8;height:50px;width:54px;overflow: hidden;margin: -1px 0 0 -1px;padding: 4px 2px;text-align: center;}
.avatar_list li img { width:50px; height:50px;}
/*=E 头像*/

.basetxt li {font:normal 14px/30px "微软雅黑"; color: #333; margin:0 0 10px 0;}
.basetxt li label {color: #999;}
.basetxt li i {width: 100%; display: block; color: #999;}
.basetxt li .txt {font:normal 14px/34px "微软雅黑"; padding:0 0 0 10px; height: 36px; border:1px solid #e6e6e6; width:380px;}
.basetxt li input {margin:0 5px 0 0;}
.basetxt li select {font:normal 14px/38px "微软雅黑"; height:38px; text-align: right; border:1px solid #e6e6e6; width:90px;}
.basetxt li select option.test {height:34px; border:1px solid #e6e6e6;}

.password li {font:normal 14px/30px "微软雅黑"; color: #333; margin:0 0 10px 0;}
.password li i {width: 100%; display: block; color: #999;}
.password li .txt {font:normal 14px/34px "微软雅黑"; padding:0 0 0 10px; height: 36px; border:1px solid #e6e6e6; width:380px;}


/*认证*/
.verify_box {position:relative; float:left; margin:0 0 0 2px; z-index:2;}
.posi_verify {position:absolute; left:26px; top:18px; border:1px solid #ddd; background:#fff; padding:6px 8px; width:220px; display:none}
.posi_verify li {font:normal 12px/16px "微软雅黑"; color:#999; word-wrap:break-word; padding:2px 0; overflow:hidden;}
.posi_verify li i {float:left; width:60px; margin:0 2px 0 0; color:#333;}
.posi_verify li span {width:158px; float:left;}



.tableMall {width:100%; max-height:600px; font:normal 14px/40px "微软雅黑"; color:#888; text-indent:20px; margin:30px 0;} 
.tableMall tr:nth-child(odd){background:#fafafa;}

/*=S page-mod */
.page-mod .page-prev, .page-mod .page-next, .page-mod .page-last, .page-mod button, .view-ctrl .return {background:url(images/bg_pages.png) no-repeat;}

.page-mod, .view-ctrl .return {margin:20px;line-height:19px;font-family:"Arial";}
	.page-mod a,.page-mod span, .page-mod strong, .view-ctrl .return {float:left;margin-right:5px;padding:0px; width:35px; text-align:center; height:35px;font-size:14px;line-height:35px;border-width:1px;border-style:solid;color:#8F8F8F;border-color:#E3E4DD;background-color:#FFF;overflow:hidden;}
	.page-mod a:visited, .view-ctrl .return:visited {color:#8F8F8F;}
	.page-mod strong, .page-mod a:hover, .view-ctrl .return:hover {background-color:#ffaa00;border-color:#ffaa00;color:#FFF;font-weight:400;text-decoration:none;}
/*	.page-mod .page-prev, .page-mod .page-last, .view-ctrl .return {padding:0 0 0 19px;width:0;background-color:#FFF;}*/
	.page-mod .page-prev, .page-mod .page-last{padding:0;width:19px;text-indent:-999px;background-color:#FFF;}
	.page-mod .page-next {padding:0 14px 0 7px;font-size:12px;background-color:#FFF;}
	.page-mod span {background:#ffffff; border:0px;}

	.view-ctrl .return {float:right;padding:0 7px 0 14px;width:auto;font-size:12px;}
	.page-mod .page-prev, .view-ctrl .return {background-position:7px -26px;}
		.page-mod .page-prev:hover, .view-ctrl .return:hover {background-position:-21px -51px;}
	.page-mod .page-last {background-position:6px -58px;}
		.page-mod .page-last:hover {background-position:-18px -83px;}
	.page-mod .page-next {background-position:47px 6px;}
		.page-mod .page-next:hover {background-position:19px -19px;}

	.page-mod .page-go {float:left;padding-left:3px;height:21px;font-size:12px;line-height:21px;overflow:hidden;}
		.page-mod .page-go em {float:left;height:21px;line-height:21px;color:#5A5A5A;}
		.page-mod .txt {float:left;margin:0 5px;width:35px;height:13px;}
		.page-mod button {float:left;cursor:pointer;margin-left:5px;padding:0;width:35px;height:21px;font-size:12px;color:#5A5A5A;background-position:0 -129px;}

/*=E page-mod */

.companylist {overflow:hidden}
.companylist span.fl {color:#999999; font-size:14px; line-height:28px; padding:10px;}
.companylist span.img {padding:10px 0 10px 20px;}
.companylistUl {border-top:1px solid #ddd; padding:0 20px;}
.companylistUl li {width:100%; border-bottom:1px solid #ddd; padding:10px 0; overflow:hidden}
.companylistUl li i {width:100%; font:normal 14px/34px "微软雅黑"; color:#4c4c4c; display:block}
.companylistUl li span p {float:left; color:#999; padding:7px 5px 0 0;}
.companylistUl li span a {border:1px solid #ddd; border-radius:2px; padding:3px 6px; font:normal 14px/34px "微软雅黑"; color:#666; float:left; margin:0 0 0 5px; line-height:20px;}
.companylistUl li span a img {float:left; margin:2px 4px 0 0;}
.companylistUl li span a.color01 {background:#45b5f5; color:#fff; border-color:#45b5f5;}
.companylistUl li span a.color02 {background:#ff6464; color:#fff; border-color:#ff6464;}
.companylistUl li span a.color03 {background:#ffb500; color:#fff; border-color:#ffb500;}

.shop,.shopDeatil {margin:40px 0 0px 38px; overflow:hidden}
.shop li {width:300px; border-radius:8px; float:left; background:#f5f5f5; margin:0 38px 40px 0}
.shop li i {width:100%; border-bottom:1px solid #e6e6e6; display:block; overflow:hidden}
.shop li h4 {padding:10px 20px 0 20px; font:bold 14px/32px "微软雅黑"; color:#333;}
.shop li p {color:#999; padding:0 20px;width:50%; float:left}
.shop li em{color:#ffaa00; padding:0 20px;width:50%; float:left}
.shop li em b {font-size:18px;}
.shop li a {float:right; background:#ec5810; color:#fff; border-radius:4px; padding:3px 7px; margin:20px 20px 20px 0; width:20%; text-align:center}

.shopDeatilProduct {width:100%; position:relative; overflow:hidden}
.shopDeatilProduct label {float:left; margin:0 20px 0 0; border-radius:8px; overflow:hidden}
.shopDeatilProduct h4 {font:bold 14px/32px "微软雅黑"; color:#333;}
.shopDeatilProduct p { color:#999; padding:0 20px;}
.shopDeatilProduct em{color:#ffaa00;}
.shopDeatilProduct em b {font-size:18px;}
.number {position:absolute; left:320px; bottom:0px;}
.number input {border:1px solid #ddd; padding:0 0px; float:left; height:28px; width:50px; text-align:center}
.number a {float:left}

.box-txt-buy {width:300px; float:left; margin:30px 20px 0 0;font:normal 14px/32px "微软雅黑"; color:#666;}
.box-txt-buy label {font:normal 14px/32px "微软雅黑"; color:#999; width:100%; display:block}
.box-txt-buy input {width:298px; border:1px solid #eaeaea; font:normal 14px/32px "微软雅黑";border-radius:4px; height:32px;}
.box-txt-buy input.radiobox {width:12px; border:0px solid #eaeaea; font:normal 14px/32px "微软雅黑";margin:0 5px 0 0px;border-radius:0px; height:12px;}
.box-txt-buy-double {width:620px;}
.box-txt-buy-double label {font:normal 14px/32px "微软雅黑"; color:#999; width:100%; display:block}
.box-txt-buy-double select {width:149px; border:1px solid #eaeaea; font:normal 14px/34px "微软雅黑";border-radius:4px; height:34px;}
.box-txt-buy-double input {width:298px; border:1px solid #eaeaea; font:normal 14px/32px "微软雅黑";border-radius:4px; height:32px; margin:0 0 0 14px;}
a.buyBtn {float:right; background:#ec5810; color:#fff; border-radius:4px; padding:3px 7px; margin:20px 60px 20px 0; width:10%; text-align:center}

.buyBg {position:fixed; bottom:0px; left:0px; width:100%; height:100%; background:rgba(0,0,0,0.6); z-index:3;}
.buyBg .buyOver {width:420px; height:150px; background:#fff; border-radius:6px; position:absolute; left:50%; top:50%; margin:-90px 0 0 -230px; padding:15px 20px;}
.buyBg .buyOver h1 {font:bold 24px/50px "微软雅黑"; color:#ec5810;}
.buyBg .buyOver p {color:#333; font:normal 18px/30px "微软雅黑"; }
.buyBg .buyOver a {background:#ddd; color:#fff; width:120px; height:40px; font:normal 16px/40px "微软雅黑"; text-align:center; float:left; border-radius:5px; margin:20px 20px 0 50px;}
.buyBg .buyOver a.backtoshop {background:#ffaa00}
.buyBg .buyOver a.lookrecord {background:#ec5810}