html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

    q:before, q:after, blockquote:before, blockquote:after {
        content: "";
        content: none;
    }

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    width: 100%;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

*:focus {
    outline: none;
}

textarea, select, input {
}

textarea {
    resize: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: block;
    *zoom: 1;
}

.clear {
    clear: both;
}

.fl {
    float: left;
}

body {
    font: 12px "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    color: #333;
    background-color: #f1f1f1;
}

a {
    color: #333;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.icon {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    line-height: 0;
    background: url('../images/common-s4b6b8e9fec.png') no-repeat;
    overflow: hidden;
}

.icon-bestunit {
    background-position: -125px 0;
    height: 26px;
    width: 104px;
}

.icon-eye {
    background-position: -292px 0;
    height: 12px;
    width: 18px;
}

.icon-talk {
    background-position: -361px 0;
    height: 12px;
    width: 13px;
}

.icon-drop-b {
    background-position: -276px 0;
    height: 6px;
    width: 11px;
}

.icon-del-a {
    background-position: -234px 0;
    height: 10px;
    width: 11px;
}

.icon-refresh-b {
    background-position: -315px 0;
    height: 15px;
    width: 15px;
}

.icon-addr {
    background-position: 0 0;
    height: 19px;
    width: 16px;
}

.icon-uc {
    background-position: -622px 0;
    height: 21px;
    width: 21px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.friend_links {
    background-color: #fff;
    border-top: 1px solid #dbdbdb;
    padding: 20px 0;
    text-align: center;
}

    .friend_links .links_hd {
        width: 1170px;
        margin: auto;
        color: #c6c6c6;
        text-align: left;
        font-family: Simsun,Arial,"宋体";
    }

    .friend_links a, .friend_links span {
        display: inline-block;
        padding: 0 5px;
    }

    .friend_links span {
        color: #a0a0a0;
    }

    .friend_links a {
        color: #555;
    }

#footer {
    background-color: #555;
    text-align: center;
}

    #footer .footer-inner {
        width: 1170px;
        margin: auto;
        overflow: hidden;
        *zoom: 1;
        padding: 35px 0;
    }

    #footer .footer-bline {
        background-color: #424242;
        height: 50px;
    }

    #footer .box-txt {
        color: #a9a9a9;
        font: 12px/1.35 Simsun,Arial,"宋体";
    }

        #footer .box-txt a {
            color: #a9a9a9;
        }

        #footer .box-txt p {
            padding: 2px 0;
        }

    #footer .box-img {
        float: right;
        _display: inline;
    }

#main {
    text-align: center;
    margin-bottom: 30px;
}

    #main .main-inner, #main .main_box {
        width: 1170px;
        margin: 0 auto;
        text-align: left;
        background-color: #fff;
    }

        #main .main-inner:after, #main .main_box:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

    #main .left {
        float: left;
        _display: inline;
        width: 839px;
    }

    #main .left_inner {
        position: relative;
        *zoom: 1;
        padding-right: 20px;
        left: 1px;
        border-right: 1px solid #dbdbdb;
    }

    #main .right {
        float: right;
        _display: inline;
        width: 290px;
        _overflow: hidden;
        border-left: 0px solid #dbdbdb;
        padding: 15px 20px;
    }

        #main .right input.submit {
            display: block;
            -moz-appearance: none;
            -webkit-appearance: none;
            background-color: #e03e3e;
            color: #fff;
            font-size: 18px;
            border: 0 none;
            width: 100%;
            height: 40px;
            margin-top: 10px;
        }

    #main .main_box {
        margin-top: 15px;
    }

.tags .tag {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font: 12px Simsun,Arial,"宋体";
    color: #fff;
    padding: 1px 2px;
    background-color: #3da9f7;
    margin-right: 3px;
}

.tags .tag1 {
    background-color: #3da9f7;
}

.tags .tag2 {
    background-color: #4579e4;
}

.tags .tag3 {
    background-color: #8a69ce;
}

.bread {
    width: 1170px;
    margin: 0 auto;
    text-align: left;
    line-height: 44px;
    height: 44px;
}

.page_header {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.tag_nav {
    font: 18px "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    color: #000;
}

    .tag_nav .tag, .tag_nav .plus, .tag_nav .reset {
        float: left;
        _display: inline;
    }

    .tag_nav .plus {
        margin: 0 8px 0 0;
    }

    .tag_nav .tag {
        position: relative;
        *zoom: 1;
        cursor: default;
        padding-right: 8px;
    }

        .tag_nav .tag .icon {
            position: absolute;
            top: 0px;
            right: 0px;
            text-align: center;
            display: none;
            cursor: pointer;
        }

        .tag_nav .tag:hover .icon {
            display: block;
        }

    .tag_nav a.reset {
        font: 12px/23px Simsun,Arial,"宋体";
        color: #fff;
        padding: 0 5px;
        background-color: #3598db;
        margin: 2px 0 0 20px;
    }

    .tag_nav a:hover {
        text-decoration: none;
    }

.tag_query .items {
    overflow: hidden;
    *zoom: 1;
    border-bottom: 1px solid #efefef;
    background-color: #f8f8f8;
}

    .tag_query .items dt, .tag_query .items dd {
        padding: 8px 0;
    }

    .tag_query .items dt {
        float: left;
        _display: inline;
        width: 100px;
        font: bold 14px/22px Simsun,Arial,"宋体";
        color: #777;
        text-align: center;
    }

    .tag_query .items dd {
        margin-left: 100px;
        padding-left: 10px;
        overflow: hidden;
        *zoom: 1;
        background-color: #fff;
    }

        .tag_query .items dd a {
            float: left;
            _display: inline;
            font: 12px/22px Simsun,Arial,"宋体";
            color: #777;
            padding: 0 5px;
            margin-right: 5px;
            white-space: nowrap;
        }

            .tag_query .items dd a:hover, .tag_query .items dd a.active {
                background-color: #f19302;
                color: #fff;
                text-decoration: none;
            }

.loading {
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    margin-left: 20px;
    margin-bottom: 5px;
}

.article_load_more {
    text-align: center;
    padding: 10px 0;
}

    .article_load_more a {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        height: 30px;
        line-height: 30px;
        background-color: #f1f1f1;
        padding: 0 50px;
        color: #444;
    }

.articles {
    margin-top: 15px;
}

    .articles .item {
        padding: 30px 0 30px 30px;
        border: 1px solid #fff;
        min-height: 132px;
        _height: 132px;
        position: relative;
        *zoom: 1;
    }

        .articles .item .img {
            width: 200px;
            height: 132px;
            overflow: hidden;
            float: left;
            _display: inline;
        }

            .articles .item .img img {
                width: 100%;
            }

        .articles .item .text {
            margin-left: 220px;
        }

        .articles .item .caption {
            overflow: hidden;
            *zoom: 1;
        }

            .articles .item .caption a.title {
                font: 22px "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
                color: #262627;
                float: left;
                _display: inline;
            }

        .articles .item .unit {
            float: right;
            _display: inline;
            height: 18px;
            padding: 0 3px;
            margin-top: 6px;
            overflow: hidden;
            font: 12px/17px Simsun,Arial,"宋体";
            color: #3ba0e8;
            border: 1px solid #3ba0e8;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            max-width: 110px;
            _width: 110px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .articles .item .unit1 {
            color: #3ba0e8;
            border: 1px solid #3ba0e8;
        }

        .articles .item .unit2 {
            color: #e03e3e;
            border: 1px solid #e03e3e;
        }

        .articles .item .unit3 {
            color: #35ae93;
            border: 1px solid #35ae93;
        }

        .articles .item .unit4 {
            color: #935e9b;
            border: 1px solid #935e9b;
        }

        .articles .item .summary {
            font: 16px/1.5 "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
            color: #666;
            margin-top: 10px;
        }

        .articles .item .meta {
            margin-top: 25px;
        }

            .articles .item .meta .tags, .articles .item .meta .info {
                display: inline-block;
                vertical-align: middle;
                *vertical-align: auto;
                *zoom: 1;
                *display: inline;
            }

            .articles .item .meta .info {
                font: 12px Simsun,Arial,"宋体";
                color: #999;
            }

        .articles .item .icon-top {
            position: absolute;
            left: 13px;
            top: 23px;
            background-position: -400px 0;
            height: 134px;
            width: 163px;
            display: none;
        }

    .articles .nopic .text {
        margin-left: 0;
    }

    .articles .istop {
        padding-left: 20px;
        padding-right: 10px;
    }

        .articles .istop .icon-top {
            display: block;
        }

.article {
    padding: 30px 10px 20px 30px;
}

    .article .qr_mobile {
        position: relative;
        top: -30px;
    }

    .article .qr_mobile_mask {
        width: 51px;
        height: 51px;
        display: block;
        background: url(../images/qrmask.jpg) no-repeat;
        position: absolute;
        top: 0;
        right: -30px;
    }

        .article .qr_mobile_mask span {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px;
            background-color: #fff;
        }

        .article .qr_mobile_mask:hover {
            z-index: 999;
        }

            .article .qr_mobile_mask:hover span {
                display: block;
            }

    .article .title {
        font-size: 30px;
        color: #262627;
        position: relative;
    }

    .article .metas {
        overflow: hidden;
        *zoom: 1;
        font-size: 14px;
        margin-top: 5px;
    }

        .article .metas span {
            color: #999;
        }

        .article .metas .unit, .article .metas .time, .article .metas .line, .article .metas .tags, .article .metas .hits, .article .metas .home, .article .metas .source {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
        }

        .article .metas .unit {
            font-size: 16px;
            color: #333333;
            line-height: 42px;
            margin-right: 5px;
        }

            .article .metas .unit .logo {
                float: left;
                _display: inline;
                width: 42px;
                height: 42px;
                background-color: #cee6eb;
                -moz-border-radius: 21px;
                -webkit-border-radius: 21px;
                border-radius: 21px;
                line-height: 0;
                margin-right: 10px;
                overflow: hidden;
                font-size: 12px;
            }

        .article .metas .time {
            margin-right: 5px;
        }

        .article .metas .line {
            padding: 0 0.25em;
        }

        .article .metas ._right {
            float: right;
            _display: inline;
            margin-top: 5px;
        }

        .article .metas .hits b {
            font-size: 20px;
            color: #e03e3e;
            font-weight: 400;
        }

        .article .metas .home {
            color: #666;
            margin: 7px 10px 0 0;
            _margin-top: 10px;
            _margin-left: 15px;
        }

    .article .content {
        font-size: 16px;
        line-height: 1.8;
        margin-top: 30px;
    }

        .article .content p.picture {
            text-align: center;
        }

        .article .content p {
            margin-bottom: 1em;
        }

        .article .content img {
            max-width: 100%;
            vertical-align: baseline;
        }

        .article .content h1, .article .content h2, .article .content h3, .article .content h4, .article .content h5, .article .content h6 {
            font-weight: 700;
            font-size: initial;
        }

    .article .tags_like {
        margin-top: 30px;
    }

        .article .tags_like label, .article .tags_like a {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            _float: left;
            font-size: 14px;
        }

        .article .tags_like label {
            font-size: 14px;
            color: #959595;
        }

        .article .tags_like a {
            font-family: Simsun,Arial,"宋体";
            margin-right: 5px;
            padding: 0 5px;
        }

            .article .tags_like a:hover {
                background-color: #3da9f7;
                color: #fff;
                text-decoration: none;
            }

.article_print {
    padding: 30px;
}

.list_relate_con {
    overflow: hidden;
    *zoom: 1;
    padding: 0 0 0 30px;
}

.list_relate_wrp {
    width: 50%;
    float: left;
}

.list_relate_ht {
    font-size: 16px;
    color: #000;
    border-bottom: 4px solid #e5e5e5;
    height: 35px;
    margin-right: 20px;
}

    .list_relate_ht h2 {
        position: relative;
        border-bottom: 4px solid #00b7ef;
        height: 35px;
        line-height: 31px;
        float: left;
        min-width: 120px;
    }

.list_relate_hd {
    margin-right: 20px;
    padding-top: 10px;
}

    .list_relate_hd li {
        padding: 5px 0;
    }

    .list_relate_hd a {
        font-size: 14px;
        line-height: 1.45;
        font-family: Simsun,Arial,"宋体";
        color: #5d5d5d;
    }

.comments {
    padding: 20px 10px 20px 30px;
}

    .comments .caption {
        font-size: 22px;
        color: #333;
        margin-bottom: 15px;
    }

        .comments .caption .count {
            font-size: 16px;
            color: #999;
            float: right;
            _display: inline;
            margin-top: 10px;
        }

    .comments .headshot {
        height: 42px;
        width: 42px;
        background-color: #e3e3e3;
        -moz-border-radius: 21px;
        -webkit-border-radius: 21px;
        border-radius: 21px;
        line-height: 0;
        overflow: hidden;
    }

    .comments .post .headshot, .comments .list .item .headshot {
        float: left;
        _display: inline;
    }

    .comments .post .cont, .comments .list .item .cont {
        margin-left: 57px;
    }

    .comments .post {
        position: relative;
        *zoom: 1;
    }

        .comments .post textarea {
            border: 0 none;
            width: 100%;
            *width: 99%;
        }

        .comments .post .mask {
            position: absolute;
            left: 57px;
            top: 0;
            width: 100%;
            height: 70%;
            padding: 5px 10px;
        }

        .comments .post .cont {
            border: 1px solid #e4e4e4;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            padding: 5px;
        }

        .comments .post .btn-wrap {
            padding: 10px 0 0 57px;
            text-align: right;
        }

        .comments .post .submit {
            -moz-appearance: none;
            -webkit-appearance: none;
            background: #cdcdcd;
            border: 0 none;
            font-size: 16px;
            color: #fff;
            height: 38px;
            padding: 0 20px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

            .comments .post .submit.login {
                background: #3DA9F7;
            }

        .comments .post .post-msg {
            color: #ff6600;
        }

    .comments .list .item {
        position: relative;
        *zoom: 1;
        margin-top: 25px;
    }

        .comments .list .item .floor {
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid #e03e3e;
            color: #e03e3e;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            line-height: 18px;
            padding: 0 3px;
        }

        .comments .list .item .headshot {
            margin-top: 10px;
        }

    .comments .list .cont {
        border-bottom: 1px dashed #efefef;
        padding: 8px 0;
        width: 701px;
        overflow: hidden;
    }

        .comments .list .cont img {
            max-width: 700px;
        }

    .comments .list .user {
        font-size: 14px;
        color: #76b0db;
    }

    .comments .list .text {
        font-size: 16px;
        color: #5d5d5d;
        line-height: 1.5;
        padding: 8px 0;
    }

    .comments .list .info {
        color: #999;
        margin-top: 10px;
    }

.fields .field {
    position: relative;
    *zoom: 1;
    height: 30px;
    border: 1px solid #adb0ba;
    color: #666;
    font-size: 14px;
    overflow: hidden;
    margin-top: 7px;
}

    .fields .field .tip {
        position: absolute;
        left: 12px;
        line-height: 32px;
    }

    .fields .field .text {
        width: 100%;
        padding: 6px 12px;
        border: 0 none;
        height: 18px;
        color: #666;
        _width: 90%;
    }

.pager-wrap {
    font: 13px/25px "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    padding: 25px 0 15px 0;
    text-align: right;
    overflow: hidden;
    *zoom: 1;
}

.pager {
    *float: right;
}

    .pager a, .pager span {
        background: #fff;
        border: 1px solid #ddd;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        margin: 0 3px;
        padding: 0 8px;
        *float: left;
    }

        .pager a:hover, .pager a:active, .pager a.current, .pager a.current:hover {
            background: #3da9f7;
            border-color: #3da9f7;
            text-decoration: none;
            color: #fff;
        }

    .pager .text {
        border: 0 none;
    }

    .pager .prev-disabled, .pager .next-disabled {
        color: #ccc;
        cursor: default;
        display: none;
    }

.pager-m a, .pager-m span {
    height: 16px;
    line-height: 15px;
    font-size: 12px;
}

.pager-m .prev, .pager-m .next, .pager-m .prev-disabled, .pager-m .next-disabled {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

.pager-m .text {
    display: none;
}

.list_a {
    margin-bottom: 15px;
}

    .list_a .caption {
        height: 35px;
        border-bottom: 3px solid #d0d0d0;
    }

        .list_a .caption .title {
            float: left;
            border-bottom: 3px solid #262627;
            height: 35px;
            color: #000;
            font-size: 18px;
            padding: 0;
            margin: 0;
            font-weight: normal;
        }

        .list_a .caption .icon-bestunit {
            float: right;
            font-weight: normal;
        }

    .list_a .item {
        _height: 50px;
        border-bottom: 1px dashed #e1e1e1;
        padding: 15px 0;
    }

        .list_a .item dt.img {
            width: 50px;
            height: 50px;
            overflow: hidden;
            float: left;
        }

        .list_a .item dd {
            margin-left: 65px;
        }

            .list_a .item dd h3 {
                font-weight: normal;
                margin: 0px;
            }

        .list_a .item a.name {
            font-size: 16px;
            color: #000;
        }

        .list_a .item p.desc {
            font-size: 14px;
            color: #999;
            line-height: 1.3;
            padding-top: 5px;
        }

        .list_a .item p.count {
            overflow: hidden;
            *zoom: 1;
            padding-top: 5px;
        }

            .list_a .item p.count span {
                float: left;
                _display: inline;
                margin-right: 10px;
                color: #999;
                font-family: Simsun,Arial,"宋体";
            }

            .list_a .item p.count .icon {
                margin-right: 5px;
            }

        .list_a .item:last-child {
            border-bottom: 0 none;
        }

    .list_a .items_a {
        padding-top: 10px;
    }

        .list_a .items_a .item {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            border: 1px solid #999;
            line-height: 24px;
            padding: 0 8px;
            margin: 0 5px 8px 0;
            color: #999;
            white-space: normal;
        }

            .list_a .items_a .item:hover {
                border-color: #3598db;
                background-color: #3598db;
                color: #fff;
                text-decoration: none;
            }

.list_b {
    border-bottom: 1px dashed #dedede;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.list_b_caption {
    height: 35px;
}

.list_b_title {
    float: left;
    height: 35px;
    color: #262627;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.list_b_item {
    font-family: Simsun,Arial,"宋体";
    font-size: 14px;
    color: #262627;
    padding: 5px 0;
    line-height: 1.3;
}

.list_b_img {
    overflow: hidden;
    *zoom: 1;
}

    .list_b_img .item_img {
        float: left;
        _display: inline;
        width: 100px;
        height: 72px;
        overflow: hidden;
    }

    .list_b_img .item_link {
        color: #000;
        font-weight: 700;
        margin-left: 118px;
        display: block;
        line-height: 1.5;
    }

.list_c {
    margin-bottom: 15px;
}

.list_c_caption {
    height: 35px;
}

.list_c_title {
    float: left;
    height: 35px;
    color: #262627;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.list_c_item {
    font-family: Simsun,Arial,"宋体";
    margin-bottom: 10px;
}

.list_c_item_ht {
    padding: 10px 0 5px 0;
}

    .list_c_item_ht a {
        font-size: 14px;
        color: #262627;
        line-height: 1.45;
    }

.list_c_item_hd {
    overflow: hidden;
    *zoom: 1;
}

    .list_c_item_hd .item_img {
        float: left;
        _display: inline;
        width: 100px;
        height: 72px;
        overflow: hidden;
    }

    .list_c_item_hd .item_link {
        color: #888;
        margin-left: 110px;
        display: block;
        line-height: 2.0;
    }

.list_d {
    margin-bottom: 15px;
}

    .list_d .caption {
        height: 35px;
        border-bottom: 3px solid #d0d0d0;
    }

    .list_d .caption_title {
        float: left;
        border-bottom: 3px solid #262627;
        height: 35px;
        color: #000;
        font-size: 18px;
        padding: 0;
        margin: 0;
        font-weight: normal;
    }

.list_d_items {
    padding: 5px 0;
    list-style-type: disc;
    color: #c0c0c0;
    margin-left: 1.2em;
}

.list_d_item {
    font-size: 16px;
    padding: 3px 0;
}

    .list_d_item a {
        color: #333;
    }

        .list_d_item a:hover {
            color: #63a988;
        }

.list_e {
    margin-bottom: 15px;
}

.list_e_caption {
    height: 35px;
    border-bottom: 3px solid #d0d0d0;
}

    .list_e_caption .title {
        float: left;
        border-bottom: 3px solid #262627;
        height: 35px;
        color: #000;
        font-size: 18px;
        padding: 0;
        margin: 0;
        font-weight: normal;
    }

.list_e_item {
    font-family: Simsun,Arial,"宋体";
    margin-bottom: 10px;
}

.list_e_item_ht {
    padding: 15px 0 5px 0;
}

    .list_e_item_ht a {
        font-size: 14px;
        color: #262627;
        line-height: 1.45;
    }

.list_e_item_hd {
    overflow: hidden;
    *zoom: 1;
}

    .list_e_item_hd .item_img {
        float: left;
        _display: inline;
        width: 100px;
        height: 72px;
        overflow: hidden;
    }

    .list_e_item_hd .item_link_hd {
        margin-left: 110px;
    }

    .list_e_item_hd .item_noimg {
        margin-left: 0;
    }

    .list_e_item_hd .item_link {
        color: #888;
        line-height: 1.6;
        font-size: 14px;
    }

    .list_e_item_hd .item_metas {
        overflow: hidden;
        *zoom: 1;
        margin-top: 10px;
    }

    .list_e_item_hd .meta_unit {
        float: left;
        color: #00a0e9;
    }

    .list_e_item_hd .meta_hits {
        float: right;
        color: #999;
    }

    .list_e_item_hd .icon-eye {
        margin-right: 5px;
    }

.list_e_top {
    border-bottom: 1px dashed #dedede;
    padding-bottom: 15px;
    margin-top: 10px;
}

    .list_e_top .title {
        font-size: 18px;
        color: #000;
        padding: 5px 0;
    }

    .list_e_top .item_metas {
        overflow: hidden;
        *zoom: 1;
        color: #666;
        font-family: Simsun,Arial,"宋体";
    }

    .list_e_top .meta_unit {
        float: left;
        color: #00a0e9;
    }

    .list_e_top .meta_time {
        float: left;
        _display: inline;
        margin-left: 15px;
    }

    .list_e_top .meta_hits {
        float: right;
        color: #999;
    }

    .list_e_top .icon-eye {
        margin-right: 5px;
    }

.right_inner {
    position: relative;
    *zoom: 1;
}

.activity-apply-wrap {
    position: fixed;
    left: 0;
    top: 150px;
    width: 290px;
    margin-bottom: 20px;
}

    .activity-apply-wrap .caption {
        height: 35px;
        border-bottom: 3px solid #d0d0d0;
    }

        .activity-apply-wrap .caption .title {
            float: left;
            border-bottom: 3px solid #262627;
            height: 35px;
            color: #000;
            font-size: 18px;
            min-width: 75px;
        }

    .activity-apply-wrap .apply-field {
        color: #666;
        font-size: 14px;
        margin-top: 7px;
        position: relative;
        *zoom: 1;
        background-color: #fff;
    }

        .activity-apply-wrap .apply-field .apply-field-input {
            width: 100%;
            _width: 90%;
            padding: 6px 12px;
            border: 1px solid #adb0ba;
            height: 30px;
            color: #666;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .activity-apply-wrap .apply-field .apply-field-select {
            width: 100%;
            _width: 90%;
            border: 1px solid #adb0ba;
            height: 30px;
            padding: 0 10px;
            color: #666;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -moz-appearance: none;
            -webkit-appearance: none;
            background: none;\9
        }

            .activity-apply-wrap .apply-field .apply-field-select option {
                font-size: 13px;
                padding: 0 12px;
            }

                .activity-apply-wrap .apply-field .apply-field-select option.placeholder {
                    color: #adadad;
                }

        .activity-apply-wrap .apply-field .apply-field-radio {
            line-height: 30px;
        }

        .activity-apply-wrap .apply-field label.error {
            position: absolute;
            top: 1px;
            right: 5px;
            line-height: 28px;
            color: #ff0000;
        }

    .activity-apply-wrap .apply-field1 .apply-field-label, .activity-apply-wrap .apply-field1 label, .activity-apply-wrap .apply-field2 .apply-field-label, .activity-apply-wrap .apply-field2 label {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
    }

    .activity-apply-wrap .apply-field1 .apply-field-label, .activity-apply-wrap .apply-field2 .apply-field-label {
        width: 45px;
    }

.unit-activity-wrap .activity-apply-wrap {
    position: static;
}

.scroll_static {
    position: static;
}

#quicknav {
    position: fixed;
    top: 120px;
    left: 10px;
    z-index: 20;
    width: 80px;
}

    #quicknav .nav-line {
        height: 40px;
        margin-left: 20px;
    }

        #quicknav .nav-line span {
            color: #9e9e9e;
            cursor: pointer;
            float: left;
            font-size: 14px;
        }

        #quicknav .nav-line .circle {
            background: #b3c8dc none repeat scroll 0 0;
            border-radius: 4px;
            cursor: pointer;
            height: 8px;
            margin-right: 8px;
            margin-top: 5px;
            width: 8px;
        }

    #quicknav .current span.circle {
        background: #7fbdf5 none repeat scroll 0 0;
        border: 2px solid #b5dcff;
        border-radius: 6px;
        margin-left: -2px;
        margin-top: 3px;
    }

    #quicknav .current .label {
        color: #5d5d5d;
        font-size: 18px;
        font-weight: 700;
        margin-top: -3px;
    }

    #quicknav .line {
        background: #ebeff2 none repeat scroll 0 0;
        height: 32px;
        left: 22px;
        position: absolute;
        width: 4px;
        z-index: -1;
    }

    #quicknav .l1 {
        top: 13px;
    }

.error_container {
    height: auto;
    overflow: auto;
    width: 600px;
    margin: 0 auto;
}
    .error_container .qrcode {
        float: left;
    }

    .error_container .qrcode-box {
        width: 178px;
        height: 178px;
        background: #ffaa00;
        border: 3px solid #ffaa00;
        margin-top: 25px;
    }

        .error_container .qrcode-box img {
            width: 100%;
            border: none;
            height: 100%;
        }

.error_box {
    float: left;
    margin: 0 0 0 60px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

    .error_box h1 {
        font-size: 140px;
        color: #ff6600;
        line-height: 140px;
        margin-bottom: 35px;
    }

    .error_box h3 {
        font-size: 22px;
        color: #666;
        margin-bottom: 15px;
    }
    .error_box h5 {
        font-size: 16px;
        color: #999;
        margin-bottom: 25px;
        padding-left: 14px;
    }

    .error_box .panel_btn {
        font-size: 14px;
    }

        .error_box .panel_btn a {
            background-color: #ffaa00;
            color: #fff;
            border-radius: 5px;
            line-height: 25px;
            padding: 0px 1.375em;
            text-align: center;
            transition: all 0.2s linear;
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
        }
.faces_list {    clear: both; display: block;  margin: -1px auto 0px auto; padding: 6px 0px 0px 6px; background: #fff; height: 124px;}
.faces_list li {cursor: pointer;float: left;border: 1px solid #E8E8E8;height:30px;width:30px;overflow: hidden;margin: -1px 0 0 -1px;padding: 4px 5px;text-align: center;}
.faces_list li img { width:30px; height:30px;}
